.artist-content {
    display: flex;
    .avatar {
        width: 10rem;
        height: 10rem;
        padding: 0 1rem;
        vertical-align: middle;
        border-radius: 50%;
    }

    .artist-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .artist-information {
        padding-right: 8rem;
        h4, p {
            margin: 0.5rem 0;
        }
    }

    .working-info{
        margin: 2rem 0 !important;
    }

    .contact-information{
        display: flex;
        gap: 1rem;
        margin-left: auto;
        button{
            background: none;
            border: none;
        }
        img {
            width: 2rem;
            height: 2rem;
        }
    }




}
