.service-options-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42.875rem;
}

.service-options {
    display: flex;
}

.service-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: -1px -1px 20px 2px #6c655b;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.service-option img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

.service-option p {
    margin: 1rem;
    font-size: 13px;
    font-weight: 700;
}

.service-option.selected {
    color: white;
    background: linear-gradient(8deg, rgb(195, 184, 164) 3%, rgba(145, 128, 112, 0.22) 100%) !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(145, 128, 112, 0.5);
    transform: scale(1.05);
}
