.time-slots-component {
    display: flex;
    width: 42.875rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.time-slots-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.time-slot-wrapper {
    position: relative;
}

.time-slot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    color: #6c655b;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow:-1px -1px 20px 2px #6c655b; /* Subtle shadow effect */
    /*transition: box-shadow 0.3s ease;*/
    transition: 0.3s ease-in-out/* Smooth transition for hover effect */
}

.time-slot:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover */
}

.time-checkbox {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    background-color: #fff1dd;
    border-radius: 4px;
    padding: 2px;
}
.time-slot.selected {
    color: white;
    background: linear-gradient(8deg, rgb(195, 184, 164) 3%, rgba(145, 128, 112, 0.22) 100%) !important;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(145, 128, 112, 0.5);
    transform: scale(1.05);
}
