.main-content {
    /*margin-top: 2rem;*/
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background: rgb(108,101,91);
    background: linear-gradient(180deg, rgba(108,101,91,1) 3%, rgba(230,222,211,0.22314863445378152) 100%);

    h2 {
        color: #d6cfd1;
    }
    p {
        color: #726960;
    }
}
.booking-content {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    .avatar {
        width: 10rem;
        height: 10rem;
        padding: 0 1rem;
        vertical-align: middle;
        border-radius: 50%;
    }

    .artist-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .artist-information {
        padding-right: 8rem;
        h4, p {
            margin: 0.5rem 0;
        }
    }

    .working-info{
        margin: 2rem 0 !important;
    }

    .contact-information{
        display: flex;
        gap: 1rem;
        margin-left: auto;
        button{
            background: none;
            border: none;
        }
        img {
            width: 2rem;
            height: 2rem;
        }
    }


    .calendar-content {
        display: flex;
        flex-direction: column;
        /*border: 1px solid grey;*/
        width: 43rem;
        margin: 2rem 0;
        border-radius: 10px;
        box-shadow: -1px -1px 20px 2px #6c655b;

        .month {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0.6rem 0.6rem;

            img {
                width: 2rem;
                height: 2rem;
                padding: 0 1rem;

            }
        }

        .month-info {
            display: flex;
            flex-direction: row;
            align-items: center;

            span {
                margin: 0 4rem;
            }
            p {
                text-align: center;
            }
        }
        .weekdays td {
            text-align: center;
            padding: 1rem;
            transition: background-color 0.3s ease;
        }

        .weekdays td:hover {
            box-shadow: inset 0 0 5px #6c655b;
        }
        #today {
            background-color: #c3b8a4;
        }

        .available:hover {
            background: rgb(108,101,91);
            background: linear-gradient(180deg, rgb(195, 184, 164) 3%, rgba(145, 128, 112, 0.22) 100%) !important;
        }

        .unavailable {
            position: relative;
            color: #726960;
            font-weight: normal;
        }

        .unavailable:hover {
            color: transparent;
            font-weight: normal;
        }

        .unavailable:hover::before {
            content: "Date is not available";
            color: #635854;
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        td.prev {
            color: #aaa;
        }
        td.next {
            color: #aaa;
        }
        td.current {
            color: #726960;
            font-weight: bold;
        }
    }

}
