.footer {
    /*background-color: #f2eee5;*/
    background-color: #ecd3be;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.12);
    padding: 0 2rem;
    width: 100%;
    min-width: 750px;
    bottom: 0;
    color: #726960;
    display: flex;
    justify-content: space-between;
    .artist-data {
        .icons {
            img {
                width: 1.5rem;
                height: 1.5rem;
                padding: 0.5rem;
            }
        }
    }
    .website-information {
        display: flex;
        padding-right: 2rem;

        .info {
            padding-right: 5rem;
        }
        p {
            font-size: 0.8rem;
        }
    }
}
