.confirm-button {
    width: 42.875rem;
    height: 3rem;
    margin: 1rem 0;

    .confirm-button__btn {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 15px;
        border: none;
        /*background-color: #9180707F;*/
        background: linear-gradient(180deg,rgba(242, 222, 199, 1) 50%, rgba(230, 203, 179, 1) 100%);
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        box-shadow:-1px -1px 20px 2px #6c655b;
        /*transition: box-shadow 0.3s ease;*/
        transition: 0.3s ease-in-out;
    }
    .confirm-button__btn:hover {
        border-color: #c3b8a4;
        color: #F2EEE5FF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }

    .confirm-button__btn:active {
        color: #6c655b;
        background: linear-gradient(8deg, rgb(195, 184, 164) 3%, rgba(145, 128, 112, 0.22) 100%) !important;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 2px rgba(145, 128, 112, 0.5);
        transform: scale(1.05);
    }
}
