.main-content {
    width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
    padding: 0;

    @media (max-width: 750px) {
        width: 100%;
        max-width: none;
        padding: 0;
    }
}

.content {
    width: 100%;
    min-width: 750px;
    /*box-sizing: border-box;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background: linear-gradient(180deg, rgba(108,101,91,1) 3%, rgba(230,222,211,0.22314863445378152) 100%);

    h2 {
        color: #d6cfd1;
    }

    p {
        color: #726960;
    }

    /* Prevent resizing below 750px */
    @media (max-width: 750px) {
        width: 100%;
        max-width: none;
        padding: 1em;
    }
}
