.main-content {
    /*margin-top: 2rem;*/
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background: rgb(108,101,91);
    background: linear-gradient(180deg, rgba(108,101,91,1) 3%, rgba(230,222,211,0.22314863445378152) 100%);

    h2 {
        color: #d6cfd1;
    }
    p {
        color: #726960;
    }
}
